<br><br>
<a name="Inventory"><font size="+3"><b>Inventory (aka "Stock")</b></font></a>
<br><br>
<font size="+2"><b>Overview</b></font>
<br><br>
In many cases due to the English background of the developer, Inventory is referred to as stock, which can be confusing to some. The word stock is used interchangeably with Inventory throughout.
<br><br>
Inventories fall into clear categories particular to the business. For example a toy factory might have categories for lego, rideons, board games etc . These are referred to as stock categories and are expected to be defined by the business. The name of the category (but not its code) can be altered at any time. 
<br><br>
Note: Integration to the general ledger is at the stock category level. The posting to the general ledger is determined by reference to the stock category of the item together with the sales area and the sales type. Separate tables of general ledger codes for sales and cost of sales are maintained from the System Setup tab of the main menu.
<br><br>
Inventory invoiced using the invoicing option will decrease the stock on hand from the stock location specified in the invoice. Inventory credited using the credit note creation option will increase the stock held at the location selected in the credit note. Inventory adjustments to the quantity held are also possible and transfers between stock locations.
<br><br>
A record of each stock movement is maintained, stock movements originating from sales invoices, purchase orders received, stock adjustments, sales credit notes can all be viewed using the inquiry of stock movements. Summing the stock movements provides an easy mechanism to see the historical usage and an inquiry is also available to show usage by month. 
<br><br>
Inventories are valued at standard cost. If general ledger stock integration is active, general ledger postings are created for stock adjustments, standard cost amendments, cost of sales and stock movements on invoicing and crediting. When stock journals are used, provided that the balance of the stock accounts agrees to the current valuation of the stock at the time when the flag is set in the company preferences page, then the value of stock held will be maintained in the general ledger, with a full trail of general ledger journals for each stock movement. This does make for a busy, but informative general ledger in a high use environment!
<br><br>
Note: Inventory journals are optional. The sales ledger/accounts receivable interface is separate to the stock general ledger interface.
<br><br>
<font size="+2"><b>Inventory System Features</b></font>
<br><br>
<ul>
<li>Multiple warehouses, stock quantities maintained for an unlimited number of locations.
<li>Prices for a stock item can be set for each sales type defined in any (and all) currency (ies) allowing great pricing flexibility.
<li>Automatic back ordering. Sales orders yet to be delivered can be automatically back ordered at the time of invoicing or the balance of the order cancelled as appropriate.
<li>History of stock movements maintained by stock item. 
<li>Allows Dummy stock items which can be invoiced, priced, costed but with no stock record maintained for items such as labour or services.
<li>Kit-set parts can be defined. An order for a kit-set part explodes into the components defined for the parts at the predefined quantities as extended by the number of the kit set item ordered. These component quantities are then available on the order for modification by the user.
<li>Assembly parts can be defined in a similar way to kit sets. These parts exist only for ordering, invoicing and sales analysis. No stock balance is maintained, instead the quantities of the components are updated in proportion to the quantity defined in the assembly.
<li>Invoice and credit note inquiries are inked to stock movements so the detail of items sold on an invoice can be queried.
<li>Standard cost maintained and valuation reports
<li>Inventory usage by month inquiry by location and overall
<li>Inventory planning report
<li>Integration with purchasing, accounts payable, accounts receivable and general ledger.
</ul>

<!-- Help Begin: Stocks -->

<font size="+2"><b>Adding Inventory Items</b></font>
<br><br>
Entry of new items requires the input of certain base information:
<br><br>
<ul>
<li>Base information about the Code and description together with the category and item type.
<li>Cost information
<li>Supplier purchasing data
<li>Selling prices
</ul>
Entry of the base information is done from the menu, select the inventory tab and click "Add a New Inventory Item". 
<br><br>
<font size="+1"><b>Item Code</b></font>
<br><br>
A stock code is required for each stock item, this can be any combination of characters up to 20 characters long. The coding structure of stock items should be considered, to ensure that like stock items appear together. Internally the system looks at the code to order stock items in the various look up tables. A systematic approach to naming stock items can save a lot of time later. Under supplier purchasing data it is also possible to record the supplier's part number against an item.
<br><br>
There is a script that allows for stock codes to be modified retrospectively, the script goes through all the tables necessary, location stocks, bills of material, order details, purchase order details, sales analysis etc to ensure that all history for the new part code follows the change. The script together with all utility scripts is available from Z_index.php (there are no links to this utility menu - due to the dangerous nature of some of the utilities) The stock code change script itself is named, Z_ChangeStockCode.php.
<br><br>
<font size="+1"><b>Part Descriptions</b></font>
<br><br>
A description of the stock item - can be up to 50 characters long. A description is required for each stock item. This description is used in the look up boxes provided each time the stock item is invoiced, credited or adjusted. There is also the facility to enter long descriptions for each part which show on the screens that customers could access to place orders. This field allows very long descriptions or even features and benefits to be described for the item. The intention for this field is that it could be used for producing a company catalogue or for online ordering by customers who may need more information about a product. It is only the description (short) that displays on invoices and credit notes.
<br><br>
<font size="+1"><b>Categories</b></font>
<br><br>
These categories need to be set up first - from the System Setup tab of the menu. In selecting the stock category, be aware that the system uses the category information for analysis and summary reporting as well as identifying accounts for standard cost general ledger integration, if this option is enabled. There is a link to create new stock categories from the stock item entry page.
<br><br>
A stock category is required for all stock items. The stock category is a text field which groups like stock items together. In selecting stock it is often useful to restrict the search to just the category required. A stock category select box shows on the Select Product screen for this purpose.
<br><br>
<font size="+1"><b>Unit of Measurement</b></font>
<br><br>
This field describes how the stock is to be maintained and is self-explanatory. It is a compulsory field. The selection list is maintained in config.php as an array variable. To add or delete other units of measurement the array variable called $InventoryUnits defined in config.php must be edited by the system administrator.
<br><br> 
<font size="+1"><b>Economic Order Quantity</b></font>
<br><br>
This is the quantity that new orders are made or purchased in by default. Currently this is purely for memorandum - in future this will be a critical part of the MRP calculations.
<br><br>
<font size="+1"><b>Packaged Volume</b></font>
<br><br>
This field is required for freight calculations. It records the volume of the one of the item as packaged for dispatch. See the section on freight calculations.
<br><br>
<font size="+1"><b>Packaged Weight</b></font>
<br><br>
This field is required for freight calculations. It records the weight of the one of the item as packaged for dispatch. The freight calculation takes the higher of the freight costs based on the total weight of the order and the total volume of the order. Most freight companies use a conversion and charge the higher of the two. See the section on freight calculations.
<br><br>
<font size="+1"><b>Units of Measure</b></font>
<br><br>
A select box allows the units applicable to the item to be selected from the array of $StockUnits defined in config.php. The unit of measure will show on all invoices and on stock inquiries.
<br><br>
<font size="+1"><b>Current or Obsolete</b></font>
<br><br>
If this field is set to obsolete, this indicates that the stock item is no longer used. However, there may be a stock history on invoices and credit notes which are required. The stock item master record is therefore still required. (Deletion is not allowed while stock movements or Sales analysis records exist for the part) However, it will not appear on searches for invoicing, stock items, in addition the item will be flagged as discontinued in stock reports.
<br><br>
<font size="+1"><b>Make Or Buy</b></font>
<br><br>
This field is compulsory and indicates whether the stock item is:
<br><br>
Manufactured - if the item is defined as manufactured it can have a bill of material - there are no traps that prevent a manufactured item from being purchased. 
<br><br>
Purchased from an external supplier. Since the item is purchased it cannot also be manufactured and have a bill of material.
<br><br>
An assembly of other stock items. An assembly item does not have a physical stock holding itself, nor has it a cost. An invoice for an assembly item creates the stock movements for all the components of the item and the stock of each of the components in proportion to the requirements specified in the bill of material are decremented. The cost of sales entries in the general ledger journals created by an invoice (if the link is active) is created at the sum of the costs of all the items in the bill of material for the assembly as at the time of invoicing.
<br><br>
A kit set of other stock items that should be exploded into its components when ordered. A kit set is not a physical item itself it is just a short cut to entering a number of parts onto an order. Unlike an assembly, the kit set part does not appear on invoices or orders, but "explodes" into its component parts for modification. It follows that kit sets do not have any cost or physical stock quantities associated with them.
<br><br>
A service item that has no physical stock associated with it. This if for use with service companies that are not interested in retaining stock quantities by location. However, the same sales analysis and movement history is retained - showing the amounts of the service sold/credited.
<br><br>
This field is relevant for MRP and production scheduling. This field can also be set to Service Inventory Item - which then disables stock quantity tracking at the locations and in total. Service stock items are used for invoicing services and labour or even physical items which do not require tracking. The stock movement records are still created and are available to recall on invoicing and credit note inquiries. Inventory adjustments are not allowed for Service Inventory Items. Assembly items can have sales analysis records created for them, but no stock quantity is maintained and stock movement records are created for the components. Assemblies would normally be used where the warehouse keeps the components of the item for several different purposes and only assembles the items as they are picked for dispatch.
<br><br>
<font size="+1"><b>Setting Up Assembly Items</b></font>
<br><br>
Using the example of toilet suites, where the business wishes to keep track of how many sold - i.e. The sales analysis - but only wishes to track the quantities of stock held of the toilet pans and toilet cisterns that make up the suite.
<br><br>
The business will never want to hold stock of made up suites, when stock is counted only cisterns and pans are counted not suites. If there are any made up suites these would need to be broken down into their components and the components included in the stock counts.
<br><br>
Such parts are called "Assembly" items by the system.
<br><br>
When an assembly item is invoiced, the stock of the components of the assembly are decreased by the quantity in its bill of material multiplied the number of the assembly item sold.
<br><br>
eg. A suite that has 2 screws in it to screw the pan to the floor might have a bill of material:
<br><br>
1 x cistern
<br>
1 x White S trap pan
<br>
2 x Pan screws
<br>
1 x pan pac carton
<br><br>
If the sale was for 10 of these - the stock of the cistern, pan and pan-pac cartons would be reduced by 10 and the stock of the pan screws would be reduced by 20. The stock movement inquiry shows this movement and the reference to the assembly item that it came from and the invoice number it was sent out on.
<br><br>
It is important to remember that when an assembly item is credited this process happens in reverse - stock is booked back into the components in exactly the same way as it is invoiced out. The credit note must be entered against the correct stocking location otherwise the pan and cistern stocks in the location where the stock did get returned to and the location where the credit note was entered to will be wrong. There is facility to write the stock off at the time of credit note entry also - in this case the stock location is not important.
<br><br>
This next point is a little confusing. The system also shows the movement of assembly items in the movement inquiry for the assembly item itself. This does have the advantage of showing to whom the assembly items have been sold at a glance. However, there are no stock status inquiries for assembly items since they are not stocking items (only the components are held and picked to make up the assembly item at the time of dispatch).
<br><br>
When parts are first set up - the description and stock category needs to be defined and it is at this point that the type of item is defined - from the heading on that screen titled - "Make, Buy, Kit, Assembly or Dummy Part". The choices are "purchased" - the default, "manufactured", "assembly", "kit-set" or "dummy". 
<br><br>
Considering the treatment of assembly items:
<br><br>
If there is stock of an item as shown on the stock status screen - then it is NOT possible to convert the item to an assembly by changing this flag - the stock must first be adjusted back to nil and the corresponding component stock adjusted up. Also, if there are purchase orders for the item - it cannot be converted to an assembly. Remember the assembly part does not exist as a separate part only as an assembly of real stock items for the purposes of selling.
<br><br>
Having set the part to be an assembly, then the part will show an option on the "Select Item" menu to show the costed bill of material. This inquiry shows the current Bill Of Material (BOM) for the assembly together with the cost of each of the components and the total of the costs that is used in the sales analysis and general ledger postings.
<br><br>
Setting up an assembly part requires setting up A Bill Of Material - BOM for the item.
<br><br>
From the manufacturing tab of the main menu - under the Maintenance section - click the link "Bill Of Material Maintenance". The item search fields show with the option to enter either an extract from the item description or the item code. Having entered the selection click on the "Search Now" button. Not all items will show - only those items that can have a BOM - assembly items, manufactured parts and kit-sets. If the part is not defined as an assembly item - it won't show up! 
<br><br>
Clicking the part code button will then show a screen for entering components to make up the BOM. If a BOM already exists for the item it will show the components already set up. There are two links next to each item shown in the current BOM to enable the line to be edited or deleted.
<br><br>
To enter a new component into the BOM for an assembly, all that is required is to select the component code from the list - the location and work centre are not used for assembly items so the default can be accepted as is. (The location specified in the sales order is used for all the assembly components stock entries.) The quantity required of the component for each assembly item is required to be entered - it defaults to 1 (and maybe 1 in most cases).
<br><br>
The effectivity dates - effective to and effective after (also known and engineering change control dates) are the dates between which the component is used in the assembly. If the BOM is due to change and customers have been advised that a new pan will be used in suites effective from 1 Jan 05 then the new pan could be entered as a component from that date. The existing pan effective to would have to be changed to be effective to 31 December 04. The alternative is to change all the BOMs on the day when the change is made.
<br><br>
Once the component fields have been entered hitting the enter information button adds the component to the BOM there and then. When the BOM is complete just navigate to the main menu of other link to the next task. Be careful not to click enter information button on the default component by mistake - the component must be selected from the list first.
<br><br>
<font size="+1"><b>Controlled</b></font>
<br><br>
This field denotes whether the item is to have lot control on it. Lot control is known by several terms including, batch control, bundle control, roll control. In short it allows a reference for each batch of the item to be entered at the time of delivery, transfer, stock check, invoicing etc. When booking in controlled items the batch references and the quantities in each batch must be entered. Many quality control systems that require traceability of raw materials need this functionality to establish what batch of raw material was used in a given work order. Or what roll of cloth was sold to a given customer. Other industries call their lots of product by different names a melt, a cut, a run etc. Every time a transaction involving a controlled item is created, the system will accumulate the quantity from a separate form for selecting the batches (Lot/roll/melt/work order/serial numbers).
<br><br>
<font size="+1"><b>Serialised</b></font>
<br><br>
Serialised is a special case of controlled where the batch size is always one. The system will prompt for the serial number of each item of stock being received and stock records will be maintained for all serial numbers separately. Serialised does not have any effect if controlled is not set.
<br><br>
<font size="+1"><b>Bar Code</b></font>
<br><br>
This field is the unique identifying bar code for this item, typically containing the EAN bar code for the item. This field is used in identifying the item in EANCOM  edi messages.
<br><br>
<font size="+1"><b>Discount Category</b></font>
<br><br>
Is used in the discount matrix of discount categories and sales types. When an order is for an item with a discount category code and a customer of a sales type that has a discount matrix entry and the order is for a quantity more than the matrix quantity break figure, the system automatically enters the discount into the order lines for all items in that discount category. This allows quantity break discounts across a range of similar products.
<br><br>
The discount category is a 2 character field and there is no error checking on entries.
<br><br>
<font size="+1"><b>Decimal Places</b></font>
<br><br>
Some items of stock require a number of decimal places to be retained and displayed, others do not require any. This field is used throughout the system for invoices, orders and all places where the item quantity is displayed.

<!-- Help End: Stocks -->

<br><br>

<!-- Help Begin: StockCostUpdate -->

<font size="+2"><b>Inventory Costing</b></font>
<br><br>
From the menu select the inventory tab and Modify Standard Costs. The item code can be entered directly to show the current cost structure, modifications to costs in this screen are reflected in standard cost journals in the general ledger if the link is active in the Company Preferences page - (menu - System Setup tab). Alternatively, to select the stock item to modify the costs for the costing page can be called from the Select Item page - once an item has been selected - a link to the Select Item page is shown on the title bar of all pages. Maintenance and initial entry of cost data is a critical part of the system set up. Simply defining the item header is not sufficient on its own. The cost information entered here is used for both inventory valuation reports and for the general ledger integration stock journals created for the cost of sales, the cost value of stock adjustments, the value of stock received and so on. It can be omitted only if the user is not interested in the value of stock and no general ledger - stock integration is required.
<br><br>
<font size="+1"><b>Material Cost</b></font>
<br><br>
If the item is bought in, this field should be the average or expected cost of the item. If the item is manufactured in house, it should be the cost of externally sourced materials plus the total cost of in house manufactured components, from lower levels in the bill. In future this will link to the Bill Of Materials cost roll up. Alterations to this figure affect the value of all stocks of this item held. The system is a standard costing system. When items are purchased the actual purchase cost is compared to this figure and a variance reported to the general ledger account set up in the stock categories record applicable to the item.
<br><br>
<font size="+1"><b>Labour Cost</b></font>
<br><br>
This field should be the total standard cost of labour included in the cost of this stock item. The labour cost is the labour applicable only to this part not to the manufacture of components at a lower level in the bill of materials. The labour cost of componentry would be included in the material cost. Alterations to this figure affect the stock value of all stock held. See comments for Material Cost. In future, this field will be altered automatically on roll ups of cost.
<br><br>
<font size="+1"><b>Overhead Cost</b></font>
<br><br>
This field should be the total overhead to be recovered on the sale of 1 unit of the stock item. Its value affects the value of all stock held of this item, as for labour cost and material cost above. Labour cost, Material cost and Overhead cost are all added together to get the total cost standard cost of a stock item. This total is the value applied to stock valuations. In future, the cost roll up will automatically update this field based on the work centre overhead rates and the quantity of labour at each work centre.
<br><br>
<font size="+1"><b>Standard Costing Considerations</b></font>
<br><br>
Each time a stock item is sold, the cost of sales account (specified by the COGS GL Postings table by reference to the stock category and sales area of the branch) is updated with the total of material cost, labour cost and overhead cost, and the stock value (the account specified in the stock category record) is decreased by the total standard cost. 
<br><br>
<font size="+1"><b>Actual Cost</b></font>
<br><br>
The actual cost is the last purchased cost as updated by the system on a purchase. For a manufactured item this is the actual cost as calculated including only efficiency variances (price variances are excluded)
<br><br>
<font size="+1"><b>Alterations To Labour Cost, Material Cost or Overhead Cost</b></font>
<br><br>
Since the system only maintains the one standard cost of items, this is the cost that stocks are valued at. In altering this cost all stock held of the stock item under review will be re-valued or devalued accordingly. If stock journals are being created (the option is set in the company preferences from the System Setup tab) then a system generated journal will be created for the effect on stock value using the general ledger accounts set up for the stock category currently defined for the stock item being changed.
<br><br>
Only transactions entered after the charge will be created at the new cost. Sales analysis will refer to the costs as at the time when the transactions are created.
<br><br>
There is a utility available from the Z_index.php page that allows the sales analysis for a specified period to be updated with the current costs. This utility takes the quantity sold and multiplies the current standard cost by the quantity to re-calculate the cost of each sales analysis record in the period selected - the sales analysis data is updated. This will mean that the general ledger costs will then differ to the sales analysis cost for the period since the general ledger postings are created at the time of invoicing/crediting.

<!-- Help End: StockCostUpdate -->

<br><br>

<!-- Help Begin: SelectProduct -->

<font size="+2"><b>Selecting Inventory Items</b></font>
<br><br>
From all pages in the system the main title bar has links to select from the critical tables in the system. Customers, inventory and suppliers. Clicking on the "Select Item" link takes the user directly to the inventory item selection page. In addition, from the menu, the Inventory tab has a link to "Modify or Delete an Inventory Item Or Maintain Pricing". Using either method, the select item or product page will show.
<br><br>
The search for a particular item can be narrowed by selection of a specific stock Category - a select box allows selection of the category. Also if some element of the code is known this can be entered, alternatively if some element of the description is known this can be entered - the description keywords are used if both a code and description fields are used. Note that the text entered into these fields does not have to be the start of the code or the description. All items with the text anywhere in either the code or the description respectively will be displayed, together with the total stock on hand and the unit of measure for the item. Assembles, kit-sets and dummy parts will all show zero stock on hand. 
<br><br>
The maximum number of resultant items can be defined by a parameter in config.php - this limits the number of records returned so that users over a lower bandwidth connection are not penalised for making too wide a selection. Downloads of significant amounts of data over a slower dial up connection would result in serious degradation in performance. By default this is set at 100 items.
<br><br>
Clicking on the button of the code of the item that is required will select it and links to the options applicable to the item will be displayed. 
<br><br>
Having selected an item it is possible to modify:
<br><br>
<ul>
<li>Item master information
<li>Costs
<li>Pricing
<li>Reorder levels 
<li>Purchasing data
</ul>
It is also possible to inquire on:
<br><br>
<ul>
<li>Inventory Movements
<li>Status - showing quantity on hand, on order with suppliers and on sales orders for customers by location
<li>Historical usage by month
<li>Outstanding sales orders
<li>Outstanding purchase orders
<li>Completed sales orders
<li>Bill of Material
</ul>
Further it is possible to initiate transactions to:
<br><br>
<ul>
<li>Transfer stock between locations
<li>Adjust stock quantities on hand.
</ul>
At the bottom of this page, there is also a link to perform a fresh search for a different item.

<!-- Help End: SelectProduct -->

<br><br>

<!-- Help Begin: Stocks -->

<font size="+2"><b>Amending Inventory Items</b></font>
<br><br>
The master information is available for amendment. The only field that cannot be altered on the main stock item page, is the code. The code is used in many tables throughout the system and modification of the stock code would require data in many other tables of information to make corresponding changes. A special utility is available that allows stock code changes to be made. The changes to the database are extensive and it is recommended that this facility be run out of normal operating hours since the load on the server for the changes could be substantial in a large database. See special utilities. The following points should be considered when altering data fields:
<br><br>
<font size="+1"><b>Changing a Category</b></font>
<br><br> 
The Category of a stock item can be altered at any time. 
<br><br>
However, if the stock journals option is active (in the company preferences set up), it should be remembered that the general ledger coding set up for that category can not be amended retrospectively. In other words, general ledger journals created for invoices, credit notes and stock adjustments created using the old category general ledger codes cannot be altered. The general ledger coding could be amended with a manual journal if necessary.
<br><br>
Note: Sales analysis done by Inventory Category is performed with the stock categories as they were when the invoice/credit was created. Inventory Category information is stored in the sales analysis table and cannot be changed retrospectively.
<br><br>
<font size="+1"><b>Alterations to the Make or Buy Flag</b></font>
<br><br>
A stock item that currently has stock cannot be changed to a Dummy stock item, an Assembly item or a kit set item. The system does not maintain stock quantities for these items and it is therefore inappropriate to have an initial stock quantity. The stock must be either invoiced, credited or adjusted to zero for all locations before this can be changed. Similarly, the system will only allow a Bill of Material to be set up for manufactured, assembly or kit set items. Altering a manufactured item (or assembly or kit set) which currently has a Bill Of Material to a purchased item is also disallowed, the BOM must be deleted first.

<!-- Help End: Stocks -->

<br><br>

<!-- Help Begin: StockCategories -->

<font size="+2"><b>Inventory Categories</b></font>
<br><br>
Inventory Categories are the natural groupings which apply to certain types of stock. A business will normally have several distinct categories. E. g. A manufacturing jeweller might have stock categories for gold chain, silver chain, diamonds, rubies etc.
<br><br>
<font size="+1"><b>Inventory Category Code</b></font>
<br><br>
This is a six character text field which is the reference used internally by the system. The category code must be unique between different categories. It cannot be changed retrospectively and cannot be deleted where stock items are set up to use the category, or sales analysis records exist using the category. The category code is stored against sales analysis records for reporting. All stock items must be defined as belonging to a category and has the appropriate category code stored against it in the StockMaster table.
<br><br>
<font size="+1"><b>Inventory Category Description</b></font>
<br><br>
This description is used in searches for stock items and in sales analysis reports to describe the category of stock referred to. Up to 20 characters of text can be entered, although on some reports less than the full description will appear. 
<br><br>
<font size="+1"><b>Balance Sheet Inventory GL Account</b></font>
<br><br>
Stock is an asset to the business - that according to GAAP should be valued at the lower of its orignal cost or what it could be sold for net of selling costs (net realisable value). To integrate stock values fully into the accounts every time stock is received it must include the value of assets in the accounts. For each category of stock it is possible to specify different asset accounts in the general ledger where the postings are made to. The selection under this field is the general ledger asset account that should record the value of stock held of this category. Put in accounting terms this is the general ledger account where system-created standard costing journals will post the balance sheet entry. It is possible to set up a GL account for each stock category or to post all raw material stock categories to a raw material general ledger account and similarly for finished goods stock categories. The select box lists all the available balance sheet accounts - profit and loss accounts will not show (because it is not appropriate to record stock values in the profit and loss account). If a new general ledger account needs to be set up this should be done first. This field will not be used if the company preferences flag for "Create GL entries for stock transactions (at standard cost)" is not enabled.
<br><br>
<font size="+1"><b>Inventory Adjustments GL Posting Account</b></font>
<br><br>
When stock is adjusted - ie stock quantities are increased this has the effect of increasing the value of stock holdings. In an integrated system the value of the increase in stock gets posted to the "Balance Sheet Inventory GL Account". The double entry here is to reflect the value of the stock find in the profit and loss account. There is a profit made for the value of the stock found and adjusted up. The reverse applies for stock adjusted down. The entry in this field is the general ledger account - a profit an d loss account where the profit on stock finds (and loss on stock losses) is posted to. In accounting terms, this is the general ledger account where the system created standard costing journals will post the profit and loss entry to for stock adjustments. It can be different for any or all stock categories. The select box lists all available profit and loss accounts. This field will not be used if the company preferences flag for "Create GL entries for stock transactions (at standard cost)" is not enabled.
<br><br>
<font size="+1"><b>Purchase Price Variance Account</b></font>
<br><br>
When purchase invoices are entered at a determined exchange rate for an item, the local currency cost is compared against the standard cost and the difference is taken as a profit or a loss. The difference is known as a purchase price variance. Purchase price variances must be posted to a profit and loss account. The entry in this field is the general ledger account used by accounts payable invoice entry to post variances between standard cost and the standard cost of stock items of this category. Price variances are calculated when the purchase invoice is entered, unless the purchase order item is on a shipment. Shipment purchase price variances are calculated when the shipment is closed. This field will not be used if the company preferences flag for "Create GL entries for stock transactions (at standard cost)" is not enabled.
<br><br>
<font size="+1"><b>Material Usage Variance Account</b></font>
<br><br>
NOT YET IMPLEMENTED: 
<br><br>
This general ledger account is used by the works orders to post the variances between the actual material issued to a work order and the standard requirements of the work order based on the number of finished items resulting from the work order. This field will not be used if the company preferences flag for "Create GL entries for stock transactions (at standard cost)" is not enabled.
<br><br>
<font size="+1"><b>Type of Resource</b></font>
<br><br>
NOT YET IMPLEMENTED: 
<br><br>
This field declares the type of resource that the stock category represents and is one of Finished Goods, Raw Materials, Labour or Dummy Inventory. This field is used to distinguish labour type stock items from other components for the purposes of calculating work centre overhead in the cost roll up. It is also used for ordering stock reports to ensure raw materials and finished goods are grouped together.

<!-- Help End: StockCategories -->

<br><br>

<!-- Help Begin: Locations -->

<font size="+2"><b>Inventory Location Maintenance</b></font>
<br><br>
A table of locations is maintained which contains a location code of 5 characters and the location description (up to 20 characters). The description is the field used in lookups on invoicing and crediting. To keep the database as compact as possible it is the code which is stored against stock movement transactions. As many locations as required can be set up. When a new location is defined, location records for all items in the database are created. When a location is deleted, so too are all the item location records. However, a location record cannot be deleted if there are stock movements or stock held for any part in the location. Since the location represents the physical location from where goods/services are supplied it is important for determining the tax applicable on a sale. The governing tax authority must specified with the location record. It is used in the calculation of the applicable rate of tax in conjunction with the tax authority of the customer branch being delivered to and the tax level of the item being sold.
<br><br>
Note: Location codes cannot be modified retrospectively. Neither can they be deleted if there are stock movements, users (default location) or customer branch records set up to receive stock from the location.

<!-- Help End: Locations -->

<br><br>

<!-- Help Begin: StockAdjustments -->

<font size="+2"><b>Inventory Adjustments</b></font>
<br><br>
Inventory can be written on or off for individual stock items using this option. Corrections to physical stocks and deliveries of stock can be entered using this option. Adjustments can be entered by selecting the link on the SelectProduct.php page or directly from the menu under transactions. Using the second link, the item code must be known, there is no facility to select an item code from this page. 
<br><br>
If Stock GL integration is enabled from the company preferences page (under the setup tab), then the system creates the necessary journals in the general ledger to update the stock account and the profit and loss account stock adjustment account specified in the stock category record. (see Inventory Categories above and also see General Ledger Integration later)
<br><br>
Note: Inventory Adjustments are not possible with kit set, assembly or dummy stock items since no stock record is maintained for these items.
<br><br>
Inventory adjustments for controlled items must select the batches/serial numbers being adjusted.

<!-- Help End: StockAdjustments -->

<br><br>

<!-- Help Begin: StockTransfers -->

<font size="+2"><b>Inventory Location Transfers</b></font>
<br><br>
Transfers of inventory between locations need to take stock off the sending location and increase the stock in the receiving location. This is effected in one transaction by entering a stock transfer. In the same way as adjustments these can be accessed either from the SelectProduct.php page which is linked to from every page on the top header banner or directly from the menu - inventory tab under the transactions section. All that is required is the location from and to, the date and the quantity being sent. If the business wishes to record inventory in transit an additional in transit location needs to be established and a transfer to the transit location performed when the stock is dispatched and a further location transfer from the transit location to the receiving location when the stock is received. Stock location transfers are shown on stock movement inquiries.
<br><br>
Note: Inventory Location Transfers are not possible with kit set, assembly or dummy stock items since no stock record is maintained for these items.
<br><br>
Bulk inventory transfers consisting of many parts can be set up effective from 2.9. These allow a docket to be produced to be sent with the dispatch of the goods. The transfer is not actually effected until the transfer is received in by the receiving stock location.

<!-- Help End: StockTransfers -->

<br><br>
<font size="+2"><b>Inventory Reports and Inquiries</b></font>
<br><br>
Three types of inquiries are possible:
<br><br>
<ul>
<li>Inventory Status.
<li>Inventory Movements.
<li>Inventory Usage
</ul>
All stock inquiries are performed from the product selection form. Once a product has been selected the links to the various relevant inquiries will show.
<br><br>

<!-- Help Begin: StockStatus -->

<font size="+1"><b>Inventory Status inquiries</b></font>
<br><br>
Shows the detail of how much stock is held and where the stock is (i.e. how much at each location) together with the total quantity of sales orders for the part outstanding and the quantity of the item on outstanding purchase orders can also be viewed from this inquiry. Not only are outstanding sales orders for this part accumulated but all the demand for parent assembly parts as extended by the quantity required per unit of the parent. This ensures that all demand for the part is shown.
<br><br>
This - and all stock inquiries are called from the SelectProduct.php page - this page is linked to from every page in the system from the header links "Select Item". Once an item is selected the relevant inquiry options are displayed. As  with all web pages produced by the system most browsers have good facilities to print them. 
<br><br>
If the item selected is a controlled item then the status inquiry will also show a link to show the batches. If the item is serialised, the link will refer to the serial numbers rather than batches. 

<!-- Help End: StockStatus -->

<br><br>

<!-- Help Begin: StockMovements -->

<font size="+1"><b>Inventory Movement inquiries</b></font>
<br><br>
Inventory movements for the item show with the most recent movements at the top of the screen in descending order of date.
<br><br>
This inquiry shows the movements of the stock item for a specified location with further links to the transaction detail that created the movements such as the invoice or credit note. By default only the last 3 months stock movements show but the date from which stock movements are displayed can be modified from the inquiry page.
<br><br>
Note: Inventory movement inquiries are possible on dummy and assembly stock items. However, since dummy items are not physical stock items, no record of the amount of stock and the location of where held (there is none held) are maintained. The location inquiry will always be zero for a dummy/assembly and kit set items. When a dummy stock item, or an assembly or kit set item is selected the link to the stock status inquiry is not available.
<br><br>
If the stock movement was an invoice or a credit the customer and the price in the currency invoiced or credited will show. 

<!-- Help End: StockMovements -->

<br><br>

<!-- Help Begin: StockUsage -->

<font size="+1"><b>Inventory Usage inquiries</b></font>
<br><br>
This inquiry shows the quantity of the stock item that has been consumed either in sales net of credit notes and adjustments by month from each location. Transfers between locations are ignored as are deliveries. Usage of an item adds all the stock movement quantities for the part so that stock movements related to the sale of assembly items requiring the part under review as a component are included. Usage can be seen by location and also the total usage from all locations.
<br><br>
There is a user modifiable flag which determines how many months of stock usage should be maintained for the item.

<!-- Help End: StockUsage -->

<br><br>

<!-- Help Begin: InventoryValuation -->

<font size="+1"><b>Inventory Valuation Report</b></font>
<br><br>
This report shows the stock on hand at the time the report is run as extended at the current standard cost. Both reports show the total quantity of stock held by Location and by Inventory Category. The detail report lists the individual stock items and value of each. Inventory items with no stock on hand are not printed out. This report can be run with only a selected inventory category and location, to reconcile the stock general ledger accounts.
<br><br>
A separate script is included in the distribution that can be set to run the stock listing report and email it to predetermined email addresses. To take advantage of this facility, the script must be called by wget under a linux distribution from a crontab entry on the last day of each month. The script is called MailInventoryValuation.php. This script will need to be edited with the email address of the user to receive the report and any parameters necessary to run the report. By default it produces a detailed report for stock at all locations. The entry in crontab in a linux installation that would send the report at 0:0 on the first day of each month (assuming wget is installed in /usr/bin/wget and that the web server is on the same machine) would be:
<br><br>
# Scheduled email of monthly Inventory Valuation report
<br><br>
-0 0 1 * * root /usr/bin/wget <a href="http://localhost/web-erp/MailInventoryValuation.php">http://localhost/web-erp/MailInventoryValuation.php</a>
<br><br>
since the page has no output - it would be pointless running it in a web browser although it would initiate another email to the defined recipients.

<!-- Help End: InventoryValuation -->

<br><br>

<!-- Help Begin: InventoryPlanning -->

<font size="+1"><b>Inventory Planning Report</b></font>
<br><br>
This report shows the usage of stock items over the previous four months together with the current stock, outstanding sales orders and outstanding purchase orders. It suggests a re-order quantity based on a number of months times the maximum of the previous four months monthly stock usage (from all stock locations), less the on hand stock and purchase orders. It will not suit all purposes but certainly does provide good information from which to base purchasing decisions.
<br><br>
The Inventory Planning Report is run from the Inventory tab of the main menu under the Inquiries and Reports section.

<!-- Help End: InventoryPlanning -->

<br><br>

<!-- Help Begin: StockCheck -->

<font size="+1"><b>Inventory Checks</b></font>
<br><br>
Scripts are available to automate the stock check adjustments necessary following a stock check. However, this feature does not work with controlled items .... yet. The procedure for there use and for stock checks in general is as follows:
<br><br>
<b>Step 1:</b>
<br><br>
Ensure invoicing is complete for all product dispatched.
<br><br>
<b>Step 2:</b>
<br><br>
From the main menu - inventory tab, click on the link to print out the stock check sheets.
<br><br>
This page allows selection of the stock location to be checked and a range of stock categories to check. Note there is a new field called:
<br><br>
Action for stock check freeze. 
<br><br>
By default this is set to list the items to be counted. Before a stock starts this must be run selecting " make a new stock check data file". This copies the quantities on hand as at the time the report is run. If the stock check sheets are run for another location and it is set again to make a new stock check data file, then the previous stock check data file is over-written and lost. If there is a stock check in progress in one location and another location wishes to initiate one too, then the second person to run the stock check sheets needs to print them with the Action for Stock Check Freeze field set to Add/update existing stock check file. Similarly if another stock category is to be added to the stock check then - Add/update existing stock check file is the correct option.
<br><br>
<b>Step 3:</b>
<br><br>
Once the stock check data file is created - the stock should be counted.
<br><br>
<b>Step 4:</b>
<br><br>
The counts should be entered - the system will only accept count entries for parts that were included in the categories selected for stock taking in step 2. The system allows many counts for each item and totals all counts to work out the required adjustment. Also, the initial of the counter or reference to the count sheet can be entered to provide a trail of where the stock was that is entered. As soon as there are counts to enter - the counters should pass on the count sheets to the data entry team so that the data entry can be completed as soon as possible after the counting is complete.
<br><br>
<b>Step 5:</b>
<br><br>
Having completed the entry of the counts the Comparison report can be run. 
<br><br>
This is run from the Inventory tab of the main menu:
<br><br>
Compare Counts Vs Stock Check Data
<br><br>
There are number of options for running this report. The default is to run the report without making any adjustments. It should be run in this mode initially so that a review of the proposed adjustments is undertaken. Any adjustments that seem incorrect can now be double checked (i.e. counted again) as necessary.
<br><br>
<b>Step 6:</b>
<br><br>
Once happy that the adjustments to be made are correct the report can be run again with the option to Report and Close the Inventory Comparison File and Process Adjustments as Necessary. 
<br><br>
There is no going back on this process - if you didn't mean to process these adjustments they must all be reversed manually. Be very sure when running the comparison in this mode.
<!-- Help End: StockCheck -->