<br><br>
<a name="Contributors"><font size="+3"><b>Contributors - Acknowledgements</b></font></a>
<br><br>
The following is a list of known contributors. Many of these people can usually be contacted by posting
 to the appropriate mailing list.
<br><br>
<table width="100%">
<tr>
<td width="50%" valign="top">
<b>Development (sorted by last name)</b>
<br><br>
Shane Barnaby
<br><br>
Chris Bice
<br><br>
Danie Brink
<br><br>
Phil Daintree  
<br><br>
Gilles Deacur
<br><br>
Miguel de Benito Delgado (phplot)
<br><br>
Janusz Dobrowolski
<br><br>
Tom Fox
<br><br>
Braian Gomez
<br><br>
Lindsay Harris
<br><br>
David Hawke
<br><br>
Richard Heyes (html.mime.mail)
<br><br>
Hindra Joshua
<br><br>
Alan Jones
<br><br>
Steve Kaill
<br><br>
Nico Kaiser (php-gettext)
<br><br>
Meraj Khattak
<br><br>
Ditesh Kumar
<br><br>
Steve Kitchen
<br><br>
David Luo
<br><br>
Wayne McDougall
<br><br>
Greg Morehead
<br><br>
Clay Mokus
<br><br>
Suren Naidu
<br><br>
Hani Naguib
<br><br>
Harold Naparst
<br><br>
Sherif Omar
<br><br>
Afan Ottenheimer (phplot)
<br><br>
Ricardo Pedroso
<br><br>
Jesse Peterson
<br><br>
Olivier Plathey (FPDF)
<br><br>
Renier du Plessis
<BR><BR>
Dave Premo (report writer)
<BR><BR>
Harald Ringehahn
<BR><BR>
Gunnar Rikardsson
<BR><BR>
Scott Rosa
<br><br>
Tim Schofield
<br><br>
Danilo Segan (php-gettext)
<BR><BR>
Matthew Sibson
<BR><BR>
Vitaliy Shevkunov
<br><br>
Jake Stride
<br><br>
Marcos Garcia Trejo
</td>
<td valign="top">
<b>Translation </b>
<br><br>
Csillag Péter  Hungarian
<br><br>
Danu Satrio Pratomo Djojosoemarto and his cousin - Indonesian
<br><br>
Janusz Dobrowolski - Polish
<br><br>
Igor Felix - Portuguese Brazilian
<br><br>
Thiago Figueiredo - Portuguese
<br><br>
Romel Den - Chinese Traditional - UTF-8
<br><br>
Thiago Mansinho de Lima - Portuguese Brazilian
<br><br>
Roberto del Pino - Spanish
<br><br>
Alejandro E Fernández E Spanish (Venezuelan)
<br><br>
Juan L Grassi - Spanish
<br><br>
Eddie Molina - Spanish
<br><br>
J. Hernán Ramírez R. - Spanish (Venezuelan)
<br><br>
Harald Ringehahn - German
<br><br>
Manel Sanchez Maulini - Spanish
<br><br>
Melvin Sequera - Spanish
<br><br>
Efren Yevale - Spanish
<br><br>
Carlos F. Castillo - Spanish
<br><br>
Wilson Almeida - Spanish
<br><br>
Carlos Vera - Spanish
<BR><BR>
Tanya Komarova - Russian
<BR><BR>
</td>
</tr>
</table>
<br><br>
If anyone has been overlooked or should have their entry modified please email info@weberp.org
<br><br>