/*--------------------------------------------------\
|               |               | default.css       |
|---------------------------------------------------|
| For use with:                                     |
| Web-ERP - http://web-erp.sourceforge.net          |
| by Logic Works Ltd                                |
|---------------------------------------------------|
| Developer:                                        |
| Shane Barnaby                                     |
| Steve Kaill                                       |
|---------------------------------------------------|
| Note:                                             |
| Changes can be made to this CSS that will be      |
| reflected throughout Web-ERP.                     |
|
\--------------------------------------------------*/

body {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	background-color: #F1FFDD; 
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 10px;
	padding: 0px;
}

/*links before selection */
a {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

/*links on any screen when mouse is hovering over them */
a:hover {
	color: #00000a;
	text-decoration: underline;
}

table {
  background-color: #B4BB86;
}

/*table detail items default format */
td {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}

input {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}

select {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}


#topMenu {
	width: 100%;
	color: black;
	background-color: #ffffff;
	border: none;
	border-bottom: 1px solid #999999;
}

#trim {
	background: "#ffffff";
}

#page {
	width: 100%;
	color: black;
	font-size: 10px;
	white-space: nowrap;
	border: none;
}

#menuImg {
	vertical-align: top;
	text-align: center;
	margin: 0px;
	padding: 10px;
}

#mainMenu {
	width: 100%;
	color: black;
	background-color: #ffffff;
	border: none;
	margin: 0px;
	padding: 0px;
}

.header {
	background-image: url("");
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: none;
	margin: 0px;
	padding: 0px;
}

.login {
	background-color: #ffffff;
	border: none;
}

.callout_main {
	font-family: Verdana, Arial, Helvetica;
	background-color: #ffffff;
	border: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.main_page {
	background-color: #ffffff;
	border: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
 	font-size: 10px;
}

/* Main page heading with quick menu within */
.quick_menu {
	background-color: #ffffff;
	border: none;
	margin: 0px;
	padding: 0px;
 	color: black;
	/*border-top: 2px #aaaaaa solid;
	border-left: 2px #aaaaaa solid;
	border-right: 2px #ffffff solid;
	border-bottom: 4px #ffffff solid; */
	text-align: right;
	/* position: relative;
	top: 3px; */
}

/*The main page heading left part before quick menu */
.quick_menu_left {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	border: 0px;
	white-space: nowrap;
	margin: 2px;
	padding: 0px;
	color: black;
}

/*the Select Customer / Item / Supplier Menu tabs */
.quick_menu_tabs {
	background-color: #ffffff;
	white-space: nowrap;
	border: none;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

.quick_menu_tab{
	background: #B4BB86;
	height:28pt;
	white-space: nowrap;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
}

/*the Select Customer / Item / Supplier Menu tabs */
.system_menu_tabs {
	background-color: #ffffff;
	white-space: nowrap;
	border: none;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	text-align: center;
}

.system_menu_tabs a {
	font-size: 12px;
   	color: black;
}

.system_menu_tabs a:hover {
	font-size: 10px;
	color: black;
}

.main_area {
	border: 2px inset #ffffff;
	width: 100%;
  	background-color: #ffffff;
}

.main_menu {
	border: 2px inset #ffffff;
}

.main_menu table {
	border: 0px;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}

.main_menu_unselected {
	background-color: #617C4F;
	border: 2px #f1ffdd outset;
	text-align: center;
	white-space: nowrap;
}

.main_menu_selected {
	background-color: #617C4F;
	border: 2px inset #41437D;
	text-align: center;
	white-space: nowrap;
}

span.main_menu_nolink {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #777777;
	text-decoration: none;
	white-space: nowrap;
}

.main_menu a {
	font-weight: normal;
	color: white
}

.main_menu a:hover {
	color: #0000aa;
	text-decoration: underline;
}

.menu_group_img {
	background-color: #cccccc;
	text-align: center;
	width: 90px;
	position: relative;
	left: 3px;
}

.menu_group_img img{
	position: relative;
	top: 10px;
}

.menu_group_area {
  border: 2px inset #ffffff;
}

.blank_area table {
	border: 0px;
	width: 100%;
}

.menu_group_headers {
  border: 2px outset #aaaaaa;
  width: 25%;
}

.menu_group_headers_text {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.menu_group_items {
	vertical-align: top;
	background-color: #ffffff;
	border: 2px outset #aaaaaa;
	padding: 10px;
}

.menu_group_item {
	background-color: #ffffff;
	padding-top: 2px;
	padding-bottom: 2px;
}

span.menu_group_nolink {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
	color: #777777;
	text-decoration: none;
}

.menu_group_item a {
}

.menu_group_items a:hover {
	color: #0000aa;
	text-decoration: underline;
}

#footer {
	position: relative;
	bottom: -3px;
}
a.footer {
	font-family: Verdana, Arial, Helvetica;
	color: black;
	font-weight: normal;
	font-size: 8px;
}
.footer {
	font-family: Verdana, Arial, Helvetica;
	color: black;
	font-weight: normal;
	font-size: 8px;
}
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
	border-width: medium;
  border-style: ridge;
}

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 10px;
	color: white;
  	background-color: #336699;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CC99;
  color: #006666;
	font-weight: bolder;
	font-size: medium;
}


input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

.tableheader {
	font-weight: normal;
	background-color: #777C59;
	color: white;
}

.notavailable {
	font-weight:light;
	font-style:italic;
	color:#555555;
}

.label {
	font-weight:bold;
	font-style:normal;
	font-size:12px;
	color:black;
	background-color:#cccccc;
}


.OsRow {
	background-color: #234567;
	color: white;
}
.table_index {
	background-color: #F1FFDD;
}

li {
	list-style-image: url(bullet.gif);
}
